body{
    background-image: url(https://drive.google.com/uc?id=1zUI6DAu0TdCdLwSMsvk3vpxZe2fSC8VE);
}
.jumbotron{
    background-image: url(https://drive.google.com/uc?id=1VYNNCPu82_wX1YZjrW1ChDGt03zvhR-e);
}
.card:hover{
    transform: scale(1.01);
    animation-name: video;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes video{
    0%{border: 3px solid black;}
    25%{border: 3px dashed black;}
    50%{border: 3px dotted black;}
    100%{border: 3px double black;}
}
.card-title{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-style: italic;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}